/* .button{
    padding:5px;
    margin-right:3px;
    margin-left:3px;
    
}
.firstrow{
    padding: 13px;
    max-width: 25%;
margin-top:5px;
}
.cal{
    border:2px solid grey;
    width:300px;
}
.textbox{
margin-left: 14px;
margin-top: 24px;
} */