
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
 
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link for validations
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="./reactive">reactive forms</a>
            <a class="dropdown-item" href="./template">template forms</a>
            <a class="dropdown-item" href="./joivalidation">joi validations</a>
          </div>
        </li>
   
      <a class="nav-link" href="./piecharts">Pie Charts <span class="sr-only">(current)</span></a>
    
   
      <a class="nav-link" href="./barcharts">Bar Charts <span class="sr-only">(current)</span></a>
    
    
        <a class="nav-link" href="./calculator">Calculator<span class="sr-only">(current)</span></a>
     
   
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown link
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="./videoupload">video upload</a>
      </div>
    


   
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        types of conversions
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="./conversions">conversions types</a>
        
      </div>
      
  
</div>

<span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; open</span>